.recipe-list {
  display: grid;
  gap: 24px;
  margin: 2rem 50px 0 50px;
  grid-template-columns: repeat(3, minmax(500px, 1fr))
}

.recipe-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.recipe-img {
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
  height: auto;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.plan-controls {
  display: flex;
  flex-direction: column;
}

.recipe-content {
  display: flex;
  gap: 16px;
  margin-top: 12px;
  align-items: flex-start;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recipe-meta {
  margin-top: auto; /* tryck ner till botten */
}

.add-btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.allergies {
  display: flex;
  flex-wrap: wrap;
}

.allergies p {
  margin: 10px;
  gap: 30px;
}

.allergy {
  background-color: #e7f3eb;
  color: #256029;
  padding: 4px 8px;
  border-radius: 6px;
}

summary span {
  font-weight: bold;
  cursor: pointer;
}

.instructions,
.ingredients {
  margin-top: 16px;
  padding-left: 4px;
  flex: 1 1 50%;
  max-width: 50%;
}

.instructions ul,
.ingredients ul {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 8px;
}

.recipe-details {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.recipe-data {
  display: flex;
  gap: 15px;
}

@media (max-width: 600px) {
  .recipe-details {
    flex-direction: column;
  }

  .instructions,
  .ingredients {
    max-width: 100%;
  }
}
