.header {
  background-color: #333;
  color: white;
  text-align: left;
  padding: 15px;
  position: relative;
  min-height: 75px;
  width: 100%;
  top: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-right: 15%;
  font-size: 18px;
  display: inline;
}

.nav-links li:last-child {
  margin-right: 50px;
  margin-left: auto;
}