
.footer {
  margin-top: 30px;
  background-color: #beb07d;
  color: white;
  text-align: left;
  padding: 10px;
  position: relative;
  width: 100%;
  top: 0;
}
.footer p {
  margin: 0px;
}

@media (max-width: 600px) {
  .footer {
    text-align: center;
  }
}