
.footer {
  margin-top: 30px;
  background: linear-gradient(90deg, #5c5b5a, #db9936);
  color: white;
  text-align: left;
  padding: 10px;
  position: relative;
  width: 100%;
  top: 0;
}
.footer p {
  margin: 0px;
}

@media (max-width: 600px) {
  .footer {
    text-align: center;
  }
}