.calendar-ingredients-wrapper {
  display: flex;
  gap: 20px;
}

.ingredientList-desktop  {
  display: flex;
  flex-direction: column;
}

.ingredientList-desktop ul {
  max-height: 390px;
  overflow-y: auto;
  padding-right: 8px;
}

.ingredientList-desktop h2 {
text-align: center;
}
